#signInlbl
{
    font-size:20px;
    font-weight:bold;
}
#centerDiv
{
    position:absolute;
    left:30%;
    margin-bottom:50px;
    top: 0px;
    width: 515px;
}
#leftDiv
{
    position:absolute;
    left:0px;
    bottom:0px;
    height:100%;
    width:250px;
}
#rightDiv
{
    position:absolute;
    left:82%;
    width:500px;
    top: 1px;
}
body 
{
    position:relative;
}
